<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ycw.cebs.sys.mapper.ISysPermMapper">

    <sql id="column_list">
        t.id id, <!-- ID -->
        t.parent_id parentId, <!-- 上级权限 -->
        t.order_num orderNum, <!-- 排序序号 -->
        t.perm_name permName, <!-- 权限名称 -->
        t.perm_type permType, <!-- 权限类型：1-菜单，2-按钮 -->
        t.value value, <!-- 权限值 -->
        t.del_ind delInd, <!-- 删除标识：0-未删除，1-删除 -->
        t.create_user createUser, <!-- 创建人 -->
        t.create_time createTime, <!-- 创建时间 -->
        t.update_user updateUser, <!-- 更新人 -->
        t.update_time updateTime, <!-- 更新时间 -->
        t.version version, <!-- 版本号 -->
        t.is_deleted isDeleted <!-- 删除标志：0-未删除，1-已删除 -->
	</sql>


	<!--根据条件查询列表 -->
	<select id="queryPermTreeListByUserId" resultType="com.ycw.cebs.common.vo.TreeVO">
		SELECT
			p.id id,
			p.parent_id parentId,
			p.perm_name label,
			p.order_num order
		FROM
			sys_perm p
		INNER JOIN sys_user_perm up
			ON up.perm_id = p.id
			AND up.del_ind = '0'
		WHERE
			p.del_ind = '0'
		<if test="userId != null">
			AND up.user_id = #{userId}
		</if>
		ORDER BY order_num, id
	</select>

</mapper>
