<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ycw.cebs.sys.mapper.ISysMenuMapper">

    <sql id="column_list">
        t.id id, <!-- ID -->
        t.parent_id parentId, <!-- 上级菜单 -->
        t.order_num orderNum, <!-- 排序序号 -->
        t.menu_name menuName, <!-- 菜单名称 -->
        t.url url, <!-- 请求地址 -->
        t.open_type openType, <!-- 打开方式：1-页签，2-新窗口 -->
        t.menu_type menuType, <!-- 菜单类型：1-目录，2-菜单，3-按钮 -->
        t.perms perms, <!-- 权限标识 -->
        t.icon icon, <!-- 图标 -->
        t.del_ind delInd, <!-- 删除标识：0-未删除，1-删除 -->
        t.create_user createUser, <!-- 创建人 -->
        t.create_time createTime, <!-- 创建时间 -->
        t.update_user updateUser, <!-- 更新人 -->
        t.update_time updateTime, <!-- 更新时间 -->
        t.version version, <!-- 版本号 -->
        t.is_deleted isDeleted <!-- 删除标志：0-未删除，1-已删除 -->
	</sql>

    <sql id="where_filters">
        <where>
    		t.is_deleted = '0'
			<if test="params.id != null">
				AND t.id = #{params.id}
			</if>
			<if test="params.parentId != null">
				AND t.parent_id = #{params.parentId}
			</if>
			<if test="params.orderNum != null">
				AND t.order_num = #{params.orderNum}
			</if>
			<if test="params.menuName != null and params.menuName != ''">
				AND t.menu_name = #{params.menuName}
			</if>
			<if test="params.url != null and params.url != ''">
				AND t.url = #{params.url}
			</if>
			<if test="params.openType != null">
				AND t.open_type = #{params.openType}
			</if>
			<if test="params.menuType != null">
				AND t.menu_type = #{params.menuType}
			</if>
			<if test="params.perms != null and params.perms != ''">
				AND t.perms = #{params.perms}
			</if>
			<if test="params.icon != null and params.icon != ''">
				AND t.icon = #{params.icon}
			</if>
			<if test="params.delInd != null">
				AND t.del_ind = #{params.delInd}
			</if>
			<if test="params.createUser != null">
				AND t.create_user = #{params.createUser}
			</if>
			<if test="params.createTime != null">
				AND t.create_time = #{params.createTime}
			</if>
			<if test="params.updateUser != null">
				AND t.update_user = #{params.updateUser}
			</if>
			<if test="params.updateTime != null">
				AND t.update_time = #{params.updateTime}
			</if>
			<if test="params.version != null">
				AND t.version = #{params.version}
			</if>
        </where>
        ORDER BY t.create_time DESC
    </sql>

</mapper>
